@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0rem;
    font-family: 'Fredoka One', sans-serif;
    box-sizing: border-box;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.weather{
    height: 100vh;
}

.app{
    background-image: url('./Assets/mainBG.jpg');
}
.clouds{
    background-image: url('./Assets/cloudy.jpg')
}
.snow{
    background-image: url('./Assets/snow.jpg')
}
.rain{
    background-image: url('./Assets/rainy.jpg')
}
.storm{
    background-image: url('./Assets/storm.jpg')
}
.hot{
    background-image: url('./Assets/hotSunny.jpg')
}
.normal{
    background-image: url('./Assets/normalSunny.jpg');
}
.fine{
    background-image: url('./Assets/fineSunny.jpg');
}
.cold{
    background-image: url('./Assets/freeze.jpg');
}
